.services-testi {
	.tm-testi {
		&__item {
			margin: 0 0 15px;
		}
	}
}
.cta-form {
	&_control {
		width: 100%;
		box-sizing: border-box;
		margin: 0 0 1.875rem;
	}
}
.btn {
	&.btn-hidden {
		display: none;
	}
}