.services-macros {
	.tm-testi {
		padding: 15px 0;
		&__item {
			margin: 0 0 15px;
		}
	}
}

.cta-form {
	&_control {
		width: 100%;
		box-sizing: border-box;
		margin: 0 0 1.875rem;
	}
	&_success {
		padding: 10px 0;
		color: green;
	}
}

.cherry-services-filter {
	margin: 0 0 20px;
	&_item {
		display: inline-block;
		vertical-align: top;
		margin: 0 10px 0 0;
	}
}

.services-ajax-pager {
	text-align: center;
	margin: 10px 0 20px;
	.page-numbers {
		display: inline-block;
		vertical-align: top;
		margin: 0 5px;
	}
}

.btn {
	&.btn-hidden {
		display: none;
	}
}

.services-item {
	padding-bottom: 30px;
	@media ( max-width: 544px ) {
		text-align: center;
	}
}

.services-more-btn {
	text-align: center;
}

.services-collapse-cols {
	> .cherry-services-row {
		margin-left: 0;
		margin-right: 0;
	}
	.services-item {
		padding-left: 0;
		padding-right: 0;
	}
}

.services-heading{
	&_super_title,
	&_title,
	&_subtitle {
		text-align: center;
	}
}

.service-icon {
	text-align: center;
	margin: 0 0 20px;
	font-size: 1.5em;
}

.service-features {
	padding: 15px 0;
	&_label {
		display: inline-block;
		font-weight: bold;
		padding: 0 10px 0 0;
	}
}
.service-cta {
	padding: 15px 0;
	&_desc {
		padding: 0 0 30px;
	}
}